   * {
       box-sizing: border-box;
   }

   body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 20px;
       background-color: #4E635E;
   }

   h1 {
       margin-bottom: 20px;
       text-align: center;
       color:#fff;
       font-family: tahoma;
       margin-top: 30px;
   }

   .add-btn {
       margin-bottom: 10px;
       margin-top: 30px;
       padding: 10px 20px;
       font-size: 1rem;
       border: none;
       background: #A6B49E;
       color: #fff;
       border: 5px solid #828d7c;
       border-radius: 60px;
       cursor: pointer;
       transition: opacity 0.2s ease;
   }

   .add-btn:hover {
       opacity: 0.8;
   }

   table {
       width: 100%;
       border-collapse: collapse;
       background: #E2E0CB;
       margin-top: 30px;
       border-radius: 30px;
   }

   thead {
       background: #A6B49E;
      
   }

   th,
   td {
       padding: 12px;
       border: 1px solid #ddd;
       text-align: left;
   }

   .acao button {
       background: none;
       border: none;
       cursor: pointer;
       font-size: 1.2em;
   }


   .modal-container {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       background: rgba(255, 255, 255, 0.4);
       visibility: hidden;
       opacity: 0;
       transition: visibility 0s, opacity 0.3s;
   }

   .modal-container.active {
       visibility: visible;
       opacity: 1;
   }

   .modal {
       background: #828d7c;
       padding: 20px;
       border-radius: 8px;
       min-width: 320px;
       box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
   }

   .modal h2 {
       margin-top: 0;
   }

   .modal label {
       display: block;
       margin: 10px 0 5px;
   }

   .modal input {
       width: 100%;
       padding: 8px;
       border: 1px solid #4E635E;
       border-radius: 4px;
   }

   #btnSalvar {
       margin-top: 15px;
       padding: 10px 20px;
       border: none;
       background: #26374D;
       color: #fff;
       border-radius: 6px;
       cursor: pointer;
       transition: opacity 0.2s ease;
   }

   #btnSalvar:hover {
       opacity: 0.8;
   }